html, body {
    background-color: black;
}

#Main_Title {
    font-weight: bold;
    font-size: 100px;
}

#SubText {
    font-weight: bold;
    font-size: 35px;
}

#Information_Header {
    font-family: "outageregular", serif;
    font-weight: normal;
    font-size: 35px;
}

#Resume_Header {
    font-family: "outageregular", serif;
    font-weight: normal;
    font-size: 35px;
}

#infolink {
}

#resulink {
}

.shadower {
    background: -webkit-linear-gradient(rgba(135,0,255,1), rgba(169,0,194,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shadowed {
    /*text-shadow: 0px 0px 5px #ff0000;*/
    background: -webkit-linear-gradient(#000000, rgba(135,0,255,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
}

.navlink {
    color: rgba(135,0,255,1);
}

.navlink:active {
    color: white;
}

.section {
}

.page-button {
    transition: background .5s, color .5s, padding .5s, font-weight .5s, font-size .5s, box-shadow .5s;
    background: -webkit-linear-gradient(rgba(135,0,255,1), rgba(169,0,194,1));
    border: none;
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
}

.page-button:hover {
    transition: background .5s, color .5s, padding .5s, font-weight .5s, font-size .5s, box-shadow .5s;
    box-shadow: 0 0 15px rgba(135,0,255,1);
    background: -webkit-linear-gradient(rgba(169,0,194,1), rgba(135,0,255,1));
}

.page-button:active {
    transition: background .5s, color .5s, padding .5s, font-weight .5s, font-size .5s, box-shadow .5s;
    color: white;
}

.link-button {
    transition-duration: .5s;
    background: -webkit-linear-gradient(rgba(135,0,255,1), rgba(169,0,194,1));
    border: none;
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    font-family: "Agency FB";
}

.link-button:hover {
    transition-duration: .5s;
    box-shadow: 0 0 15px rgba(135,0,255,1);
    background: -webkit-linear-gradient(rgba(169,0,194,1), rgba(135,0,255,1));
}

.link-button:active {
    color: white;
}