html, body {
    transition-duration: 1s;
    background-color: white;
}

ul, li {
    color: blue;
}

#Main_Title {
}

#SubText {
}

#Information_Header {
}

#Resume_Header {
}

#infolink {
}

#resulink {
}

.shadower {
    background: -webkit-linear-gradient(dodgerblue, deepskyblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shadowed {
    /*text-shadow: 0px 0px 5px #ff0000;*/
    background: dodgerblue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
}

.navlink {
    color: dodgerblue;
}

.navlink:active {
    color: white;
}

.section {
}

.page-button {
    transition: background .5s, color .5s, padding .5s, font-weight .5s, font-size .5s, box-shadow .5s;
    background: -webkit-linear-gradient(dodgerblue, deepskyblue);
    border: none;
    color: white;
}

.page-button:hover {
    transition: background .5s, color .5s, padding .5s, font-weight .5s, font-size .5s, box-shadow .5s;
    box-shadow: 0 0 15px dodgerblue;
    background: -webkit-linear-gradient(dodgerblue, deepskyblue);
}

.page-button:active {
    transition: background .5s, color .5s, padding .5s, font-weight .5s, font-size .5s, box-shadow .5s;
    color: white;
}

.link-button {
    transition-duration: .5s;
    background: -webkit-linear-gradient(dodgerblue, deepskyblue);
    color: white;
}

.link-button:hover {
    transition-duration: .5s;
    box-shadow: 0 0 15px dodgerblue;
    background: -webkit-linear-gradient(dodgerblue, deepskyblue);
}

.link-button:active {
    color: white;
}

.social-button {
    transition: box-shadow .5s, border-color .5s;
    border-color: dodgerblue;
    background-color: #171516;
}

.social-button:hover {
    transition-duration: .5s;
    box-shadow: 0 0 15px dodgerblue;
}

.social-button:active {
    transition: border-color .5s;
    border-color: white;
}

.paradiv {
    transition: all .5s;
    background-color: white;
    border-color: dodgerblue;
}

.paradiv:hover {
    transition-duration: .5s;
    box-shadow: 0 0 15px dodgerblue;
}

.parainnerdiv {
}

.parapara {
}

.specialpara {
    color: dodgerblue;
    animation: specialpara-pulse 0.9s infinite ease-out;
}

@keyframes specialpara-pulse {
    0% {
        box-shadow: 0 0 0 dodgerblue;
    }
    50% {
        box-shadow: 0 0 30px dodgerblue;
    }
    100% {
        box-shadow: 0 0 0 dodgerblue;
    }
}