html, body {
    scroll-behavior: smooth;
    height: 100%;
}

#Main_Title {
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#SubText {
    display: flex;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Information_Header {
    display: flex;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Resume_Header {
    display: flex;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#infolink {
    position: fixed;
    right: 95px;
}

#resulink {
    position: fixed;
    right: 30px;
}

.shadower {
}

.shadowed {
}

.logo {
    height: 35px;
    position: fixed;
    top: 1.25%;
    z-index: 5;
}

.navlink {
    transition-duration: 1s;
    display: flex;
    text-decoration: none;
    position: absolute;
    top: 1.75%;
    z-index: 5;
}

.navlink:active {
    transition-duration: 0s;
}

.section {
    position: relative;
    height: 100%;
}

.page-button {
    transition: background .5s, color .5s, padding .5s, font-weight .5s, font-size .5s, box-shadow .5s;
    /*transition-duration: 5s;*/
    border: none;
    padding: 15px 20px;
    font-weight: bolder;
    font-size: 20px;
    font-family: "Agency FB";

    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
}

.page-button:hover {
    transition-duration: .5s;
}

.page-button:active {
    transition-duration: 0s;
}

.social-img {
    height : 40px;
    width : 40px;
}

.social-button {
    transition: box-shadow .5s, border-color .5s;
    border-color: #ff0000;
    border-width: 5px;
    border-style: double;
    padding: 0px 0px 0px 0px;
    position: absolute;
    background-color: #171516;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
}

.social-button:hover {
    transition-duration: .5s;
    box-shadow: 0 0 15px #ff0000;
}

.social-button:active {
    transition: border-color .5s;
    border-color: white;
}

#githublink {
    left: 48%;
}

#linkedinlink {
    left:52%;
}

#view-resu {
    left: 45.5%;
}

#download-resu {
    left: 54.5%;
}

.paradiv {
    width : 750px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.parapara {
    transition-duration: .5s;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#resume-jobs {
    width: 450px;
    left: 17%;
    transform: translate(-50%, -50%);
}

#resume-skills {
    width: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#resume-achievements {
    width: 450px;
    left: 83%;
    transform: translate(-50%, -50%);
}

.parapara:hover {
    transition-duration: .5s;
    box-shadow: 0 0 15px #ff0000;
    font-weight: bold;
}

.specialpara {
    color: red;
    font-family: 'Roboto Condensed', sans-serif;
    animation: specialpara-pulse 0.9s infinite ease-out;
}

@keyframes specialpara-pulse {
    0% {
        box-shadow: 0 0 0 #ff0000;
    }
    50% {
        box-shadow: 0 0 30px red;
    }
    100% {
        box-shadow: 0 0 0 #ff0000;
    }
}