@font-face {
    font-family: 'outageregular';
    src: url('Assets/fonts/outage-font/Outage-Regular.eot');
    src: url('Assets/fonts/outage-font/Outage-Regular.eot?#iefix') format('embedded-opentype'),
    url('Assets/fonts/outage-font/Outage-Regular.woff2') format('woff2'),
    url('Assets/fonts/outage-font/Outage-Regular.woff') format('woff'),
    url('Assets/fonts/outage-font/Outage-Regular.ttf') format('truetype'),
    url('Assets/fonts/outage-font/Outage-Regular.svg#Outage-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
}

#navabove {
    position: fixed;
    height: 10px;
    background: white;
}

@keyframes titleslidedown {
    0% {
        top: 30%;
    }
    100% {
        top: 40%;
    }
}

@keyframes subtitleslidedown {
    0% {
        top: 35%
    }
    100% {
        top: 45%;
    }
}

#Main_Title {
    transition: all .5s;
    animation: 1s cubic-bezier(0.52,0.66,0.1,1.41) 0s 1 titleslidedown;
    font-family: Arial, serif;
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
}

#SubText {
    animation: 1s cubic-bezier(0.52,0.66,0.1,1.41) 0s 1 subtitleslidedown;
    font-size: 30px;
    font-family: outageregular, serif;
    display: flex;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Information_Header {
    font-family: outageregular, serif;
    font-size: 40px;
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Resume_Header {
    font-family: outageregular, serif;
    font-size: 40px;
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Contact_Header {
    font-family: outageregular, serif;
    font-size: 40px;
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#infolink {
    position: fixed;
    right: 200px;
}

#resulink {
    position: fixed;
    right: 117px;
}

#contactlink {
    position: fixed;
    right: 30px;
}

@keyframes darkModeSlideIn {
    0% {
        top: -40%;
        right: 450px;
    }
    100% {
        top: 52%;
        right: 350px;
    }
}

#darkmodeswitch {
    position: fixed;
    top: 10px;
    right: 330px;
    z-index: 5;
}

.shadower {
}

.shadowed {
}

.logo {
    height: 35px;
    position: fixed;
    top: 1.25%;
    z-index: 5;
}

@keyframes navslidein {
    0% {
        transform: translateX(300%);
    }
    100% {
        transform: translateX(0);
    }
}

.navlink {
    animation: 1.5s cubic-bezier(0.52,0.66,0.1,1.41) 0s 1 navslidein;
    font-family: "outageregular", serif;
    font-size: 15px;
    transition-duration: 1s;
    display: flex;
    text-decoration: none;
    position: absolute;
    top: 1.75%;
    z-index: 5;
}

.navlink:active {
    transition-duration: 0s;
}

.section {
    position: relative;
    height: 100%;
}

.page-button {
    transition: background .5s, color .5s, padding .5s, font-weight .5s, font-size .5s, box-shadow .5s;
    padding: 15px 20px;
    font-weight: bolder;
    font-size: 20px;
    font-family: "Agency FB";
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -50%);
}

.social-img {
    height : 40px;
    width : 40px;
}

@keyframes socialslideup {
    0% {
        top: 90%;
    }
    100% {
        top: 60%;
    }
}

.social-button {
    animation: 1.2s cubic-bezier(0.52,0.66,0.11,1.19) 0s 1 socialslideup;
    transition: box-shadow .5s, border-color .5s;
    border-width: 5px;
    border-style: double;
    padding: 0px 0px 0px 0px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

#githublink {
    left: 48%;
}

#linkedinlink {
    left:52%;
}

#view-resu {
    left: 45.5%;
}

#download-resu {
    left: 54.5%;
}

.paradiv {
    transition-duration: .5s;
    height: 60vh;
    width : 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.parainnerdiv {
    transition-duration: .5s;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.parapara {
    transition-duration: .5s;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

#resume-jobs {
    left: 17%;
    transform: translate(-50%, -50%);
}

#resume-skills {
    left: 50%;
    transform: translate(-50%, -50%);
}

#resume-achievements {
    left: 83%;
    transform: translate(-50%, -50%);
}

.specialpara {
    font-family: 'Poppins', sans-serif;
}

.fade-in {
    transition: all 1s;
    opacity: 0%;
}

.formlabel {
    text-align: center;
}

button, label, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

#emaillabel {
    top: 10%;
    font-weight: bold;
}

#emailinput {
    top: 20%;
}

#messagelabel {
    top: 35%;
    font-weight: bold;
}

#messageinput {
    top: 70%;
    font-weight: bold;
}

label, input, textarea{
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

input{
    transition: all .5s;
    text-align: center;
    width: 30%;
    border: none;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: transparent;
}

input:focus {
    transition: all .5s;
    width: 40%;
}

textarea{
    transition: all .5s;
    text-align: center;
    width: 50%;
    height: 50%;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: transparent;
    resize: none;
}

textarea:focus {
    transition: all .5s;
    width: 60%;
}

.toggle{
    animation: 1.5s cubic-bezier(0.52,0.66,0.1,1.41) 0s 1 navslidein;
    transition:0.3s;
    height:15px;
    border-radius:20px;
    border-width: 10px;
    width:50px;
    padding:8px;
}

.toggle .circle{
    height:15px;
    width:15px;
    background-color:white;
    border-radius:100%;
    transition:0.5s;
}

.toggle.active{
    transition:0.5s;
    background: -webkit-linear-gradient(rgba(135,0,255,1), rgba(169,0,194,1));
}

.toggle.active .circle{
    margin-left:35px;
}

.togglehoverclass:hover {
    transition:0.3s;
    border-radius:15px;
}

