@font-face {
    font-family: 'Outage';
    src: url('Outage-Regular.eot');
    src: url('Outage-Regular.eot?#iefix') format('embedded-opentype'),
        url('Outage-Regular.woff2') format('woff2'),
        url('Outage-Regular.woff') format('woff'),
        url('Outage-Regular.ttf') format('truetype'),
        url('Outage-Regular.svg#Outage-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

