html, body {
    background-color: white;
}

#Main_Title {
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 100px;
}

#SubText {
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 35px;
}

#Information_Header {
    font-family: "Agency FB";
    font-weight: normal;
    font-size: 35px;
}

#Resume_Header {
    font-family: "Agency FB";
    font-weight: normal;
    font-size: 35px;
}

#infolink {
}

#resulink {
}

.shadower {
    background: #0076FFE6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shadowed {
    background: #0076FFE6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
}

.navlink {
    color: #0076FFE6;
    font-family: "Agency FB";
    font-size: 21px;
    text-decoration: none;
}

.navlink:active {
    color: white;
}

.section {
}

.page-button {
    background: #0076FFE6;
    border: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    font-family: "Agency FB";
}

.page-button:hover {
    box-shadow: 0 0 15px #0076FFE6;
}

.page-button:active {
    color: #ff0000;
}